-
    const DIRECTIVOS = [
        {
            name: 'Jaime Tupper',
            title: 'CEO',
            href: '',
        },
        {
            name: 'Marco Fuentes',
            title: 'COO',
            href: '',
        },
        {
            name: 'Esmeralda Viramontes',
            title: 'DIRECTORA LEGAL',
            href: '',
        },
        {
            name: 'Mauricio Valle',
            title: 'CFO',
            href: '',
        },
        {
            name: 'Carlos Zepeda',
            title: 'DIRECTOR DE RRHH',
            href: '',
        },
        {
            name: 'Héctor Castro',
            title: 'TITLE',
            href: '',
        },
        {
            name: 'Gerardo Cervantes',
            title: 'TITLE',
            href: '',
        },
        {
            name: 'New Business',
            title: 'TITLE',
            href: '',
        },
        {
            name: 'Rodrigo Apellido',
            title: 'TITLE',
            href: '',
        },
        {
            name: 'Arturo Posadas',
            title: 'TITLE',
            href: '',
        },
        {
            name: 'Pamela Apellido',
            title: 'TITLE',
            href: '',
        },
        {
            name: 'Ángel Apellido',
            title: 'TITLE',
            href: '',
        },
    ]