-
    const PORTAFOLIO = [
        {
          hero: 'thumbnail-01.jpg',
          thumbnail: 'thumbnail-01.jpg',
          city: 'Campeche',
          plant: 'Central Ciclo Combinado',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
        },
        {
          hero: 'thumbnail-02.jpg',
          thumbnail: 'thumbnail-02.jpg',
          city: 'El Sauz',
          plant: 'Estación de compresión de gas',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
        },
        {
          hero: 'thumbnail-03.jpg',
          thumbnail: 'thumbnail-03.jpg',
          city: 'Altamira',
          plant: 'Estación de compresión de gas',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
        },
        {
          hero: 'thumbnail-04.jpg',
          thumbnail: 'thumbnail-04.jpg',
          city: 'Chihuahua',
          plant: 'Central de ciclo combinado',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
        },
        {
          hero: 'thumbnail-05.jpg',
          thumbnail: 'thumbnail-05.jpg',
          city: 'La Rosita I y II',
          plant: 'Central de ciclo combinado',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
        },
        {
          hero: 'thumbnail-06.jpg',
          thumbnail: 'thumbnail-06.jpg',
          city: 'Energía Sierra Juárez',
          plant: 'Parque eólico exporación',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
        },
        {
          hero: 'thumbnail-07.jpg',
          thumbnail: 'thumbnail-07.jpg',
          city: 'San Luis de la Paz',
          plant: 'Central de ciclo combinado',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
        },
    ]