-
    const SUPPLIER = [
        {
          icon: 'icon-suministradora-potencia.svg',
          name: 'Potencia',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-cel.svg',
          name: 'CEL Certificados de Energías Limpias',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-dft.svg',
          name: 'DFT Derechos Financieros de Transmision',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-conexos.svg',
          name: 'Servicios Conexos',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-controlable.svg',
          name: 'Demanda Controlable',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-distribuida.svg',
          name: 'Representación de Generación Distribuida',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
    ]
    
    const SUPPLIER_EN = [
        {
          icon: 'icon-suministradora-potencia.svg',
          name: 'Power',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-cel.svg',
          name: 'Clean Energy Certificates',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-dft.svg',
          name: 'Financial Transmission Rights',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-conexos.svg',
          name: 'Related services',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-controlable.svg',
          name: 'Controllable demand',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-distribuida.svg',
          name: 'Distributed generation representation',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
    ]

  const GENERATOR = [
        {
          icon: 'icon-generadora-energia.svg',
          name: 'Energía',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-generadora-potencia.svg',
          name: 'Potencia',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-generadora-conexos.svg',
          name: 'Servicios Conexos',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-generadora-generadores.svg',
          name: 'Representación de Generadores',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
    ]
  
  const GENERATOR_EN = [
        {
          icon: 'icon-generadora-energia.svg',
          name: 'Energy',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-generadora-potencia.svg',
          name: 'Power',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-generadora-conexos.svg',
          name: 'Related services',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-generadora-generadores.svg',
          name: 'Generators representation',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
    ]