-
	const POWERPLANTS = [
		{
			type: [
				{
					titleSp: 'Central Ciclo Combinado',
					titleEn: 'Combined Cycle Plant',
				},
			],
			desc: [
				{
					city: 'Campeche',
					ub: 'Palizada, Campeche',
					capacity: '252 MWh',
					start: 'Mayo, 2003',
					img: 'thumbnail-campeche.jpg',
					plantnumber: 'one',
					cardnumber: 'card-one',
					closenumber: 'close-one',
					id: 'Campeche',
				},
				{
					city: 'Chihuahua',
					ub: 'Chihuahua',
					capacity: '252 MWh',
					start: 'Mayo, 2003',
					img: 'thumbnail-chihuahua.jpg',
					plantnumber: 'four',
					cardnumber: 'card-four',
					closenumber: 'close-four',
					id: 'Chihuahua',
				},
				{
					city: 'La Rosita I',
					ub: 'Baja California',
					capacity: '252 MWh',
					start: 'Mayo, 2003',
					img: 'thumbnail-la-rosita.jpg',
					plantnumber: 'five',
					cardnumber: 'card-five',
					closenumber: 'close-five',
					id: 'LaRosita',
				},
				{
					city: 'La Rosita II',
					ub: 'Baja California',
					capacity: '252 MWh',
					start: 'Mayo, 2003',
					img: 'thumbnail-la-rosita-ii.jpg',
					plantnumber: 'fiveDos',
					cardnumber: 'card-fiveDos',
					closenumber: 'close-fiveDos',
					id: 'LaRositaDos',
				},
				{
					city: 'San Luis de la Paz',
					ub: 'Guanajuato',
					capacity: '252 MWh',
					start: 'Mayo, 2003',
					img: 'thumbnail-san-luis-de-la-paz.jpg',
					plantnumber: 'seven',
					cardnumber: 'card-seven',
					closenumber: 'close-seven',
					id: 'SanLuisDeLaPaz',
				},
			],
		},
		{
			type: [
				{
					titleSp: 'Estaci칩n de compresi칩n de gas',
					titleEn: 'Gas compressor station',
				},
			],
			desc: [
				{
					city: 'El Sauz',
					ub: 'Guanajuato',
					capacity: '252 MWh',
					start: 'Mayo, 2003',
					img: 'thumbnail-el-sauz.jpg',
					plantnumber: 'two',
					cardnumber: 'card-two',
					closenumber: 'close-two',
					id: 'ElSauz',
				},
				{
					city: 'Altamira',
					ub: 'Tamaulipas',
					capacity: '252 MWh',
					start: 'Mayo, 2003',
					img: 'thumbnail-altamira.jpg',
					plantnumber: 'three',
					cardnumber: 'card-three',
					closenumber: 'close-three',
					id: 'Altamira',
				},
			],
		},       
		{
			type: [
				{
					titleSp: 'Parque e칩lico',
					titleEn: 'Wind Park',
				},
			],
			desc: [
				{
					thumbnail: 'thumbnail-sierra-juarez.jpg',
					city: 'Sierra Ju치rez',
					ub: 'Baja California',
					capacity: '252 MWh',
					start: 'Mayo, 2003',
					img: 'thumbnail-sierra-juarez.jpg',
					plantnumber: 'six',
					cardnumber: 'card-six',
					closenumber: 'close-six',
					id: 'SierraJuarez',
				},
			],
		},
	]