-
    const SUPPLIER = [
        {
          icon: 'icon-suministradora-potencia.svg',
          name: 'Potencia',
          tooltip: 'Potencia. Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
          idsupplier: 'supplier-one',
          idtooltip: 'tooltip-one',
          idtooltipclose: 'tooltip-close-one',
        },
        {
          icon: 'icon-suministradora-cel.svg',
          //- name: 'CEL Certificados de Energías Limpias',
          name: 'CEL',
          tooltip: 'CEL. Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
          idsupplier: 'supplier-two',
          idtooltip: 'tooltip-two',
          idtooltipclose: 'tooltip-close-two',
        },
        {
          icon: 'icon-suministradora-dft.svg',
          //- name: 'DFT Derechos Financieros de Transmision',
          name: 'DFT',
          tooltip: 'DFT. Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
          idsupplier: 'supplier-three',
          idtooltip: 'tooltip-three',
          idtooltipclose: 'tooltip-close-three',
        },
        {
          icon: 'icon-suministradora-conexos.svg',
          name: 'Servicios Conexos',
          tooltip: 'Servicios conexos. Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
          idsupplier: 'supplier-four',
          idtooltip: 'tooltip-four',
          idtooltipclose: 'tooltip-close-four',
        },
        {
          icon: 'icon-suministradora-controlable.svg',
          name: 'Demanda Controlable',
          tooltip: 'Demanda controlable. Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
          idsupplier: 'supplier-five',
          idtooltip: 'tooltip-five',
          idtooltipclose: 'tooltip-close-five',
        },
        {
          icon: 'icon-suministradora-distribuida.svg',
          //- name: 'RGD Representación de Generación Distribuida',
          name: 'RGD',
          tooltip: 'RGD. Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
          idsupplier: 'supplier-six',
          idtooltip: 'tooltip-six',
          idtooltipclose: 'tooltip-close-six',
        },
    ]
    
    const SUPPLIER_EN = [
        {
          icon: 'icon-suministradora-potencia.svg',
          name: 'Power',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-cel.svg',
          name: 'Clean Energy Certificates',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-dft.svg',
          name: 'Financial Transmission Rights',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-conexos.svg',
          name: 'Related services',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece'
        },
        {
          icon: 'icon-suministradora-controlable.svg',
          name: 'Controllable demand',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
        },
        {
          icon: 'icon-suministradora-distribuida.svg',
          name: 'Distributed generation representation',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
        },
    ]

  const GENERATOR = [
        {
          icon: 'icon-generadora-energia.svg',
          name: 'Energía',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
        },
        {
          icon: 'icon-generadora-potencia.svg',
          name: 'Potencia',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
        },
        {
          icon: 'icon-generadora-conexos.svg',
          name: 'Servicios Conexos',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
        },
        {
          icon: 'icon-generadora-generadores.svg',
          name: 'Representación de Generadores',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
        },
    ]
  
  const GENERATOR_EN = [
        {
          icon: 'icon-generadora-energia.svg',
          name: 'Energy',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
        },
        {
          icon: 'icon-generadora-potencia.svg',
          name: 'Power',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
        },
        {
          icon: 'icon-generadora-conexos.svg',
          name: 'Related services',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
        },
        {
          icon: 'icon-generadora-generadores.svg',
          name: 'Generators representation',
          tooltip: 'Este tooltip tendrá información breve de cada uno de los tipos de los servicios de energía que el cliente ofrece',
        },
    ]