-
    const CONTACT = [
        {
            content: 'Blvd. Miguel de Cervantes Saavedra 301, Piso 11 Col. Granada, 11520 Ciudad de México',
            icon: 'icon-placeholder.svg',
        },
        {
            content: '+52 (55) 5279 4850',
            icon: 'icon-tel.svg',
        },
        {
            content: 'info@saavienergia.com',
            icon: 'icon-email.svg',
        },
        {
            content: '<strong>Contacto de prensa:</strong><br>Verónica J. Gómez<br>+52 (55) 3246 9202<br><a href="mailto:veronica.gomez@saavienergia.com" style="color: white;">veronica.gomez@saavienergia.com</a>',
            icon: 'icon-tel.svg',
        },
    ]