-
    const MANAGERS = {
        heading: [
            {
                titleSp: 'Directivos',
                titleEn: 'Managers',
            },
        ],
        desc: [
            {
                name: 'Jaime',
                lastname: 'Tupper',
                positionSp: 'Presidente y Director Gral.',
                positionEn: 'CEO',
                href: '',
            },
            {
                name: 'Marco',
                lastname: 'Fuentes',
                positionSp: 'VP de Operaciones',
                positionEn: 'COO',
                href: 'https://mx.linkedin.com/in/marco-fuentes-a0a2652',
            },
            {
                name: 'Esmeralda',
                lastname: 'Viramontes',
                positionSp: 'Dir. Legal',
                positionEn: 'Legal Director',
                href: 'https://mx.linkedin.com/in/esmeralda-viramontes-b975a5170',
            },
            {
                name: 'Mauricio',
                lastname: 'del Valle',
                positionSp: 'VP de Finanzas',
                positionEn: 'CFO',
                href: 'https://www.linkedin.com/in/mauricio-del-valle',
            },
            {
                name: 'Carlos',
                lastname: 'Zepeda',
                positionSp: 'Dir. RH',
                positionEn: 'HR Director',
                href: 'https://www.linkedin.com/in/cazepeda/',
            },
            {
                name: 'Héctor',
                lastname: 'Castro',
                positionSp: 'VP de Asuntos Corporativos',
                positionEn: 'CCAO',
                href: 'https://www.linkedin.com/in/hectorcastrovizcarra',
            },
            {
                name: 'Gerardo',
                lastname: 'Cervantes',
                positionSp: 'VP Comercial',
                positionEn: 'COO',
                href: 'https://mx.linkedin.com/in/gerardo-cervantes-3831b04',
            },
            {
                name: 'Rodrigo',
                lastname: 'Bernal',
                positionSp: 'Dir. de Originación',
                positionEn: 'Origination Director',
                href: 'https://mx.linkedin.com/in/rodrigo-bernal-8531a94',
            },
            {
                name: 'Julio',
                lastname: 'Marañón',
                positionSp: 'Dir. de Desarrollo de Negocios',
                positionEn: 'New Business Director',
                href: 'https://mx.linkedin.com/in/juliomaranon',
            },
            {
                name: 'Arturo',
                lastname: 'Aguilar',
                positionSp: 'Gerente de Gestión de Activos',
                positionEn: 'Asset Management Manager',
                href: 'https://mx.linkedin.com/in/arturo-gabriel-aguilar-hern%C3%A1ndez-12410433',
            },
            {
                name: 'Pamela',
                lastname: 'Tadeo',
                positionSp: 'Originación',
                positionEn: 'Origination',
                href: 'https://mx.linkedin.com/in/pamela-tadeo-783501b',
            },
            {
                name: 'Ángel',
                lastname: 'Castro',
                positionSp: 'Gerente de Estructuración',
                positionEn: 'Structuration Manager',
                href: 'https://mx.linkedin.com/in/angel-castro-8bb339a3',
            },
        ],
    }