-
    const POWERPLANTS = [
        {
          hero: '01.png',
          thumbnail: 'thumbnail-01.jpg',
          city: 'Campeche',
          type: 'Central Ciclo Combinado',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'one',
          id: 'Campeche',
          defaultopen: 'defaultopen',
        },
        {
          hero: '02.png',
          thumbnail: 'thumbnail-02.jpg',
          city: 'El Sauz',
          type: 'Estación de compresión de gas',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'two',
          id: 'ElSauz',
          defaultopen: '',
        },
        {
          hero: '03.png',
          thumbnail: 'thumbnail-03.jpg',
          city: 'Altamira',
          type: 'Estación de compresión de gas',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'three',
          id: 'Altamira',
          defaultopen: '',
        },
        {
          hero: '04.png',
          thumbnail: 'thumbnail-04.jpg',
          city: 'Chihuahua',
          type: 'Central de ciclo combinado',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'four',
          id: 'Chihuahua',
          defaultopen: '',
        },
        {
          hero: '05.png',
          thumbnail: 'thumbnail-05.jpg',
          city: 'La Rosita I y II',
          type: 'Central de ciclo combinado',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'five',
          id: 'LaRosita',
          defaultopen: '',
        },
        {
          hero: '06.png',
          thumbnail: 'thumbnail-06.jpg',
          city: 'Energía Sierra Juárez',
          type: 'Parque eólico exporación',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'six',
          id: 'SierraJuarez',
          defaultopen: '',
        },
        {
          hero: '07.png',
          thumbnail: 'thumbnail-07.jpg',
          city: 'San Luis de la Paz',
          type: 'Central de ciclo combinado',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'seven',
          id: 'SanLuisDeLaPaz',
          defaultopen: '',
        },
    ]