-
    const MENU = [
        {
            href: '#quienes-somos',
            content: 'Acerca de Saavi',
        },
        {
            href: '#soluciones-energia',
            content: 'Soluciones de Energía',
        },
        {
            href: '#portafolio',
            content: 'Portafolio',
        },
        {
            href: '#contacto',
            content: 'Contacto',
        },
    ]