-
    const SUMINISTRADORA = [
        {
          icon: 'icon-suministradora-potencia.svg',
          content: 'Potencia',
        },
        {
          icon: 'icon-suministradora-cel.svg',
          content: 'CEL Certificados de Energías Limpias',
        },
        {
          icon: 'icon-suministradora-dft.svg',
          content: 'DFT Derechos Financieros de Transmision',
        },
        {
          icon: 'icon-suministradora-conexos.svg',
          content: 'Servicios Conexos',
        },
        {
          icon: 'icon-suministradora-controlable.svg',
          content: 'Demanda Controlable',
        },
        {
          icon: 'icon-suministradora-distribuida.svg',
          content: 'Representación de Generación Distribuida',
        },
    ]