-
    const DIRECTIVOS = [
        {
            name: 'Jaime',
            lastname: 'Tupper',
            title: 'CEO',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing',
            href: '',
        },
        {
            name: 'Marco',
            lastname: 'Fuentes',
            title: 'COO',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing',
            href: '',
        },
        {
            name: 'Esmeralda',
            lastname: 'Viramontes',
            title: 'DIRECTORA LEGAL',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing',
            href: '',
        },
        {
            name: 'Mauricio',
            lastname: 'del Valle',
            title: 'CFO',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing',
            href: '',
        },
        {
            name: 'Carlos',
            lastname: 'Zepeda',
            title: 'DIRECTOR DE RRHH',
            desc: 'Lorem ipsum dolor sit amet, consectetuer adipiscing',
            href: '',
        },
    ]