-
    const SUPPLIER = [
        {
          icon: 'icon-suministradora-potencia.svg',
          name: 'Potencia',
        },
        {
          icon: 'icon-suministradora-cel.svg',
          name: 'CEL Certificados de Energías Limpias',
        },
        {
          icon: 'icon-suministradora-dft.svg',
          name: 'DFT Derechos Financieros de Transmision',
        },
        {
          icon: 'icon-suministradora-conexos.svg',
          name: 'Servicios Conexos',
        },
        {
          icon: 'icon-suministradora-controlable.svg',
          name: 'Demanda Controlable',
        },
        {
          icon: 'icon-suministradora-distribuida.svg',
          name: 'Representación de Generación Distribuida',
        },
    ]

  const GENERATOR = [
        {
          icon: 'icon-generadora-energia.svg',
          name: 'Energía',
        },
        {
          icon: 'icon-generadora-potencia.svg',
          name: 'Potencia',
        },
        {
          icon: 'icon-generadora-conexos.svg',
          name: 'Servicios Conexos',
        },
        {
          icon: 'icon-generadora-generadores.svg',
          name: 'Representación de Generadores',
        },
    ]