-
    const GENERADOR = [
        {
          icon: 'icon-generadora-energia.svg',
          content: 'Energía',
        },
        {
          icon: 'icon-generadora-potencia.svg',
          content: 'Potencia',
        },
        {
          icon: 'icon-generadora-conexos.svg',
          content: 'Servicios Conexos',
        },
        {
          icon: 'icon-generadora-generadores.svg',
          content: 'Representación de Generadores',
        },
    ]