-
    const MENU = [
        {
            href: 'about-us',
            contentSp: 'Acerca de Saavi',
            contentEn: 'About us',
        },
        {
            href: 'energy-solutions',
            contentSp: 'Soluciones de Energía',
            contentEn: 'Energy solutions',
        },
        {
            href: 'portfolio',
            contentSp: 'Portafolio',
            contentEn: 'Portfolio',
        },
        {
            href: 'contact',
            contentSp: 'Contacto',
            contentEn: 'Contact',
        },
    ]