-
    let pathImg = 'img/'
    let pathStyles = 'css/'
    let pathJs = 'js/'
    let pathGlobal = 'https://www.saavienergia.com/'
    let pathSpHomeHash = 'https://www.saavienergia.com/index.html#'
    let pathEnHome = 'en.html'
    let cacheCss = Date.now()
    let lang = language