-
    const PORTFOLIO = {
        sp: [
            {
                title: 'Portafolio',
                mapImg: 'mapa.svg',
            },
        ],
        en: [
            {
                title: 'Portfolio',
                mapImg: 'mapa-en.svg',
            },
        ],
    }