-
    const SOCIALS_WHITE = [
        {
            href: '/',
            alt: 'saavi twitter',
            icon: 'icon-twitter-white.svg',
        },
        {
            href: '/',
            alt: 'saavi facebook',
            icon: 'icon-facebook-white.svg',
        },
        {
            href: '/',
            alt: 'saavi linkedin',
            icon: 'icon-linkedin-white.svg',
        },
    ]
    
    const SOCIALS_BLUE = [
        {
            href: '/',
            alt: 'saavi twitter',
            icon: 'icon-twitter-blue.svg',
        },
        {
            href: '/',
            alt: 'saavi facebook',
            icon: 'icon-facebook-blue.svg',
        },
        {
            href: '/',
            alt: 'saavi linkedin',
            icon: 'icon-linkedin-blue.svg',
        },
    ]