-
    const CONTACTO = [
        {
            desc: 'Blvd. Miguel de Cervantes Saavedra 301, Piso 11 Col. Granada, 11520 Ciudad de México',
            icon: 'icon-placeholder.svg',
        },
        {
            desc: '+52 (55) 5279 4850',
            icon: 'icon-tel.svg',
        },
        {
            desc: 'info@saavienergia.com',
            icon: 'icon-email.svg',
        },
        {
            desc: '+52 (55) 5279 4850',
            icon: 'icon-whatsapp.svg',
        },
    ]