-
    const MAIN = {
        sp: [
            {
                display: 'GENERAMOS<br>EL FUTURO',
                caption: 'Nuestra electricidad impulsa la competitividad de las empresas <strong>en México</strong>',
            },
        ],
        en: [
            {
                display: 'GENERATING<br>THE FUTURE',
                caption: 'We power the competitiveness of the industries <strong>in Mexico</strong>',
            },
        ],
    }       