-
    const MANAGERS = [
        {
            name: 'Jaime',
            lastname: 'Tupper',
            title: 'Presidente y Director Gral.',
            href: '',
        },
        {
            name: 'Marco',
            lastname: 'Fuentes',
            title: 'VP de Operaciones',
            href: 'https://mx.linkedin.com/in/marco-fuentes-a0a2652',
        },
        {
            name: 'Esmeralda',
            lastname: 'Viramontes',
            title: 'Dir. Legal',
            href: 'https://mx.linkedin.com/in/esmeralda-viramontes-b975a5170',
        },
        {
            name: 'Mauricio',
            lastname: 'del Valle',
            title: 'VP de Finanzas',
            href: 'https://www.linkedin.com/in/mauricio-del-valle',
        },
        {
            name: 'Carlos',
            lastname: 'Zepeda',
            title: 'Dir. RH',
            href: 'https://www.linkedin.com/in/cazepeda/',
        },
        {
            name: 'Héctor',
            lastname: 'Castro',
            title: 'VP de Asuntos Corporativos',
            href: 'https://www.linkedin.com/in/hectorcastrovizcarra',
        },
        {
            name: 'Gerardo',
            lastname: 'Cervantes',
            title: 'VP Comercial',
            href: 'https://mx.linkedin.com/in/gerardo-cervantes-3831b04',
        },
        {
            name: 'Rodrigo',
            lastname: 'Bernal',
            title: 'Dir. de Originación',
            href: 'https://mx.linkedin.com/in/rodrigo-bernal-8531a94',
        },
        {
            name: 'Julio',
            lastname: 'Marañón',
            title: 'Dir. de Desarrollo de Negocios',
            href: 'https://mx.linkedin.com/in/juliomaranon',
        },
        {
            name: 'Arturo',
            lastname: 'Aguilar',
            title: 'Gerente de Gestión de Activos',
            href: 'https://mx.linkedin.com/in/arturo-gabriel-aguilar-hern%C3%A1ndez-12410433',
        },
        {
            name: 'Pamela',
            lastname: 'Tadeo',
            title: 'Gerente de Originación',
            href: 'https://mx.linkedin.com/in/pamela-tadeo-783501b',
        },
        {
            name: 'Ángel',
            lastname: 'Castro',
            title: 'Gerente de Estructuración',
            href: 'https://mx.linkedin.com/in/angel-castro-8bb339a3',
        },
    ]

    const MANAGERS_EN = [
        {
            name: 'Jaime',
            lastname: 'Tupper',
            title: 'CEO',
            href: '',
        },
        {
            name: 'Marco',
            lastname: 'Fuentes',
            title: 'COO',
            href: 'https://mx.linkedin.com/in/marco-fuentes-a0a2652',
        },
        {
            name: 'Esmeralda',
            lastname: 'Viramontes',
            title: 'Legal Director',
            href: 'https://mx.linkedin.com/in/esmeralda-viramontes-b975a5170',
        },
        {
            name: 'Mauricio',
            lastname: 'del Valle',
            title: 'CFO',
            href: 'https://www.linkedin.com/in/mauricio-del-valle',
        },
        {
            name: 'Carlos',
            lastname: 'Zepeda',
            title: 'HR Director',
            href: 'https://www.linkedin.com/in/cazepeda/',
        },
        {
            name: 'Héctor',
            lastname: 'Castro',
            title: 'CCAO',
            href: 'https://www.linkedin.com/in/hectorcastrovizcarra',
        },
        {
            name: 'Gerardo',
            lastname: 'Cervantes',
            title: 'COO',
            href: 'https://mx.linkedin.com/in/gerardo-cervantes-3831b04',
        },
        {
            name: 'Rodrigo',
            lastname: 'Bernal',
            title: 'Origination Director',
            href: 'https://mx.linkedin.com/in/rodrigo-bernal-8531a94',
        },
        {
            name: 'Julio',
            lastname: 'Marañón',
            title: 'New Business Director',
            href: 'https://mx.linkedin.com/in/juliomaranon',
        },
        {
            name: 'Arturo',
            lastname: 'Aguilar',
            title: 'Asset Management Manager',
            href: 'https://mx.linkedin.com/in/arturo-gabriel-aguilar-hern%C3%A1ndez-12410433',
        },
        {
            name: 'Pamela',
            lastname: 'Tadeo',
            title: 'Origination Manager',
            href: 'https://mx.linkedin.com/in/pamela-tadeo-783501b',
        },
        {
            name: 'Ángel',
            lastname: 'Castro',
            title: 'Structuration Manager',
            href: 'https://mx.linkedin.com/in/angel-castro-8bb339a3',
        },
    ]