-
    const ABOUTUS = {
        sp: [
            {
                title: '¿Quiénes somos?',
                content: 'Somos expertos en energía con más de 20 años en el mercado. Generamos y comercializamos electricidad para contribuir a satisfacer la demanda del país.',
            },
        ],
        en: [
            {
                title: 'Who is Saavi?',
                content: 'We are energy experts with more than 20 years in the market. We generate and trade electric power to satisfy the country’s energy demand.',
            },
        ],
    }
    
    const HISTORY = {
        titleSp: 'Historia',
        titleEn: 'History',
        timeLine: [
            {
                year: '1995',
                hitoSp: 'Se constituye International Generating Company “InterGen”',
                hitoEn: 'International Generating Company “InterGen” is founded',
                logo: '',
                logoAlt: '',
            },
            {
                year: '1998',
                hitoSp: 'Se construye la primera planta de energía propia',
                hitoEn: 'Construction of its first energy plant in the country',
                logo: '',
                logoAlt: '',
            },
            {
                year: '2018',
                hitoSp: 'Actis adquiere el portafolio de InterGen en México y nace Saavi Energía',
                hitoEn: 'Actis acquired the InterGen portfolio in México and Saavi Energía is organized',
                logo: '',
                logoAlt: '',
            },
            {
                year: '2021',
                hitoSp: 'Global Infrastructure Partners se convierte en accionista mayoritario de Saavi Energía',
                hitoEn: 'Global Infrastructure Partners becomes a majority shareholder of Saavi Energía',
                logo: 'global-infraestructure-partners.jpg',
                logoAlt: 'Global Infraestructure Partners',
            },
        ],
    }