-
	const SUPPLIER = [
		{
			sp: [
				{
					display: 'Elige competitividad y eficiencia',
					title: 'Suministradora',
					solutions: [
						{
							icon: 'icon-suministradora-potencia.svg',
							name: 'Potencia',
							def: '<strong>Potencia:</strong> producto comercial mediante el cual se asegura la disponibilidad de producción de las centrales de generación para ofrecer la energía correspondiente (kW), y brinda soporte al Sistema Eléctrico Nacional en las horas críticas. Producto obligatorio para todos los consumidores (MW-año).',
						},
						{
							icon: 'icon-suministradora-cel.svg',
							name: 'CEL',
							def: '<strong>Certificados de Energía Limpia:</strong> títulos emitidos por la CRE que acreditan la producción de energía eléctrica a partir de fuentes de Energías Limpias, los cuales sirven para cumplir los requisitos asociados al consumo de los Centros de Carga.'
						},
						{
							icon: 'icon-suministradora-dft.svg',
							name: 'DFT',
							def: '<strong>Derechos Financieros de Transmisión:</strong> títulos emitidos por CENACE que operan como un mecanismo de cobertura financiera, el cual permite mitigar el riesgo de diferencia de precios entre el nodo de generación y el de consumo. Actualmente este instrumento no está en operación en el Mercado Eléctrico Mayorista.',
						},
						{
							icon: 'icon-suministradora-conexos.svg',
							name: 'Servicios Conexos',
							def: '<strong>Sevicios Conexos:</strong> están vinculados a la operación del Sistema Eléctrico Nacional y son necesarios para garantizar su calidad, confiabilidad, continuidad y seguridad. Actualmente comprenden regulación de frecuencia, regulación de voltaje, reservas operativas y rodantes, entre otros.',
						},
						{
							icon: 'icon-suministradora-controlable.svg',
							name: 'Demanda Controlable',
							def: '<strong>Demanda Controlable:</strong> producto que los centros de carga ofrecen en el Mercado Eléctrico Mayorista que consiste en la reducción de su demanda en un momento determinado para mantener la confiabilidad del Sistema. Actualmente este instrumento no está en operación en el Mercado Eléctrico Mayorista.',
						},
						{
							icon: 'icon-suministradora-distribuida.svg',
							name: 'RGD',
							def: '<strong>Representación de Generación Distribuida:</strong> como suministrador gestionamos sus activos de Generación Distribuida (capacidad menor a 0.5 MW).',
						},
					],
				},
			],
			en: [
				{
					display: 'Choose competitivity and efficiency',
					title: 'Supplier',
					solutions: [
						{
							icon: 'icon-suministradora-potencia.svg',
							name: 'Power',
							def: '<strong>Power:</strong> commercial product through which Generators ensure their availability to produce electricity and inject it into the market (kW), as well as to provide support to the grid (National Electric System), during critical hours. Mandatory product for all end users.  (MW-year).',
						},
						{
							icon: 'icon-suministradora-cel.svg',
							name: 'CEC',
							def: '<strong>Clean Energy Certificates:</strong> issued by the Regulator (CRE) that certifies that the production of electricity comes from clean energy sources, certificates are used to meet the clean energy requirements associated to the consumption.'
						},
						{
							icon: 'icon-suministradora-dft.svg',
							name: 'FTR',
							def: '<strong>Financial Transmission Rights:</strong> titles issued by ISO CENACE that operate as a financial hedging mechanism that allows mitigating the risk of price differences between the generation node and the consumption node. Currently this instrument is not in operation in the Wholesale Electricity Market.',
						},
						{
							icon: 'icon-suministradora-conexos.svg',
							name: 'Ancillary services',
							def: '<strong>Ancillary services:</strong> services that are necessary to guarantee the grid\'s right functioning. Currently the ancillary services include: Reserve of the Secondary Regulation, Spinning Reserve, Non-Spinning Reserve, Operative Reserve, Reactive Reserve and Supplementary Reserve.',
						},
						{
							icon: 'icon-suministradora-controlable.svg',
							name: 'Demand Response',
							def: '<strong>Demand Response:</strong> product that the end users offer in the Wholesale Electricity Market which consists in reducing or shifting their electricity usage at a certain time to maintain the grid’s right functioning. Currently this instrument is not in operation in the Wholesale Electricity Market.',
						},
						{
							icon: 'icon-suministradora-distribuida.svg',
							name: 'DGR',
							def: '<strong>Distributed Generation Representation:</strong> as a Qualified Supplier we represent and manage Distributed Generation assets (capacity less than 0.5 MW) in the in the Wholesale Electricity Market.',
						},
					],
				},
			],
		},
	]

	const GENERATOR = [
		{
			sp: [
				{
					display: 'Tu energía en manos de expertos',
					title: 'Generador',
					content: 'Creamos la solución precisa para tu empresa, con la seguridad de que tendrás siempre el mejor servicio.',
					solutions: [
						{
							icon: 'icon-generadora-energia.svg',
							name: 'Energía',
							def: '<strong>Energía eléctrica:</strong> electricidad generada por las distintas fuentes de generación (kWh).',
						},
						{
							icon: 'icon-generadora-potencia.svg',
							name: 'Potencia',
							def: '<strong>Potencia:</strong> producto comercial mediante el cual se asegura la disponibilidad de producción de las centrales de generación para ofrecer la energía correspondiente (kW), y brinda soporte al Sistema Eléctrico Nacional en las horas críticas. Producto obligatorio para todos los consumidores (MW-año).',
						},
						{
							icon: 'icon-generadora-conexos.svg',
							name: 'Servicios Conexos',
							def: '<strong>Servicios Conexos:</strong> están vinculados a la operación del Sistema Eléctrico Nacional y son necesarios para garantizar su calidad, confiabilidad, continuidad y seguridad. Actualmente los servicios conexos comprenden regulación de frecuencia, regulación de voltaje, reservas operativas y rodantes, entre otros.',
						},
						{
							icon: 'icon-generadora-generadores.svg',
							name: 'RGD',
							def: '<strong>Representación de Generación Distribuida:</strong> como suministrador gestionamos sus activos de Generación Distribuida (capacidad menor a 0.5 MW).',
						},
						{
							icon: 'icon-gestion.svg',
							name: 'RCE',
							def: '<strong>Representación de Centrales Eléctricas:</strong> contamos con las autorizaciones necesarias y la infraestructura para gestionar sus activos de generación con capacidad mayor a 0.5 MW en el Mercado Eléctrico Mayorista.',
						},
					],
				},
			],
			en: [
				{
					display: 'Your energy in the hands of experts',
					title: 'Generator',
					content: 'We create tailor made solutions for your company, based on our best service guarantee.',
					solutions: [
						{
							icon: 'icon-generadora-energia.svg',
							name: 'Energy',
							def: '<strong>Electric Energy:</strong> electricity generated from different sources (kWh).',
						},
						{
							icon: 'icon-generadora-potencia.svg',
							name: 'Power',
							def: '<strong>Power:</strong> commercial product through which Generators ensure their availability to produce electricity and inject it into the market (kW), as well as to provide support to the grid (National Electric System), during critical hours. Mandatory product for all end users.  (MW-year).',
						},
						{
							icon: 'icon-generadora-conexos.svg',
							name: 'Ancillary services',
							def: '<strong>Ancillary services:</strong> services that are necessary to guarantee the grid’s right functioning. Currently the ancillary services include: Reserve of the Secondary Regulation, Spinning Reserve, Non-Spinning Reserve, Operative Reserve, Reactive Reserve and Supplementary Reserve.',
						},
						{
							icon: 'icon-generadora-generadores.svg',
							name: 'DGR',
							def: '<strong>Distributed Generation Representation:</strong> as a Qualified Supplier we represent and manage Distributed Generation assets (capacity less than 0.5 MW) in the in the Wholesale Electricity Market.',
						},
						{
							icon: 'icon-gestion.svg',
							name: 'PPR',
							def: '<strong>Power Plants Representation:</strong> we comply with the necessary authorizations and the infrastructure to represent and manage generation assets with a capacity greater than 0.5 MW in the Wholesale Electricity Market.',
						},
					],
				},
			],
		},
	]