-
     const SOCIALS = [
            {
                href: '/',
                alt: 'saavi twitter',
                icon: 'icon-tw.svg',
            },
            {
                href: '/',
                alt: 'saavi facebook',
                icon: 'icon-fb.svg',
            },
            {
                href: '/',
                alt: 'saavi linkedin',
                icon: 'icon-in.svg',
            },
        ]