-
     const SOCIALS = [
            {
                href: 'https://twitter.com/SaaviEnergia?s=12',
                alt: 'saavi twitter',
                icon: 'icon-tw.svg',
            },
            {
                href: 'https://www.facebook.com/saavienergia/',
                alt: 'saavi facebook',
                icon: 'icon-fb.svg',
            },
            {
                href: 'https://www.linkedin.com/company/saavienergia',
                alt: 'saavi linkedin',
                icon: 'icon-in.svg',
            },
        ]