-
    const MENU_SP = [
        {
            href: '#about-us',
            content: 'Acerca de Saavi',
        },
        {
            href: '#energy-solutions',
            content: 'Soluciones de Energía',
        },
        {
            href: '#portfolio',
            content: 'Portafolio',
        },
        {
            href: '#contact',
            content: 'Contacto',
        },
        {
            href: 'web-to-lead.html',
            content: 'Web to lead',
        },
        {
            href: 'web-to-case.html',
            content: 'Web to case',
        },
    ]
    
    const MENU_EN = [
        {
            href: 'en.html#about-us',
            content: 'About us',
        },
        {
            href: 'en.html#energy-solutions',
            content: 'Energy solutions',
        },
        {
            href: 'en.html#portfolio',
            content: 'Portfolio',
        },
        {
            href: 'en.html#contact',
            content: 'Contact',
        },
        {
            href: 'web-to-lead.html',
            content: 'Web to lead',
        },
        {
            href: 'web-to-case.html',
            contentEn: 'Web to case',
        },
    ]