-
    const MANAGERS = [
        {
            name: 'Jaime',
            lastname: 'Tupper',
            title: 'CEO',
            href: '',
        },
        {
            name: 'Marco',
            lastname: 'Fuentes',
            title: 'COO',
            href: '',
        },
        {
            name: 'Esmeralda',
            lastname: 'Viramontes',
            title: 'DIR. LEGAL',
            href: '',
        },
        {
            name: 'Mauricio',
            lastname: 'del Valle',
            title: 'CFO',
            href: '',
        },
        {
            name: 'Carlos',
            lastname: 'Zepeda',
            title: 'DIR. DE RRHH',
            href: '',
        },
        {
            name: 'Héctor',
            lastname: 'Castro',
            title: 'TITLE',
            href: '',
        },
        {
            name: 'Gerardo',
            lastname: 'Cervantes',
            title: 'TITLE',
            href: '',
        },
        {
            name: 'Rodrigo',
            lastname: 'Bernal',
            title: 'TITLE',
            href: '',
        },
        {
            name: 'New',
            lastname: 'Business',
            title: 'TITLE',
            href: '',
        },
        {
            name: 'Arturo',
            lastname: 'Apellido',
            title: 'TITLE',
            href: '',
        },
        {
            name: 'Pamela',
            lastname: 'Apellido',
            title: 'TITLE',
            href: '',
        },
        {
            name: 'Ángel',
            lastname: 'Apellido',
            title: 'TITLE',
            href: '',
        },
    ]