-
    const POWERPLANTS = [
        {
          type: 'Central Ciclo Combinado',
          content: [
            {
              city: 'Campeche',
              ub: 'Palizada, Campeche',
              capacity:  '252 MWh',
              start: 'Mayo, 2003',
              img: 'thumbnail-campeche.jpg',
              plantnumber: 'one',
              cardnumber: 'card-one',
              closenumber: 'close-one',
              id: 'Campeche',
            },
            {
              city: 'Chihuahua',
              ub: 'Palizada, Campeche',
              capacity:  '252 MWh',
              start: 'Mayo, 2003',
              img: 'thumbnail-chihuahua.jpg',
              plantnumber: 'four',
              cardnumber: 'card-four',
              closenumber: 'close-four',
              id: 'Chihuahua',
            },
            {
              city: 'La Rosita I',
              ub: 'Palizada, Campeche',
              capacity:  '252 MWh',
              start: 'Mayo, 2003',
              img: 'thumbnail-la-rosita.jpg',
              plantnumber: 'five',
              cardnumber: 'card-five',
              closenumber: 'close-five',
              id: 'LaRosita',
              defaultopen: '',
            },
            {
              city: 'La Rosita II',
              ub: 'Palizada, Campeche',
              capacity:  '252 MWh',
              start: 'Mayo, 2003',
              img: 'thumbnail-la-rosita.jpg',
              plantnumber: 'fiveDos',
              cardnumber: 'card-fiveDos',
              closenumber: 'close-fiveDos',
              id: 'LaRositaDos',
              defaultopen: '',
            },
            {
              city: 'San Luis de la Paz',
              ub: 'Palizada, Campeche',
              capacity:  '252 MWh',
              start: 'Mayo, 2003',
              img: 'thumbnail-san-luis-de-la-paz.jpg',
              plantnumber: 'seven',
              cardnumber: 'card-seven',
              closenumber: 'close-seven',
              id: 'SanLuisDeLaPaz',
              defaultopen: '',
            },
          ],
        },
        {
          type: 'Estación de compresión de gas',
          content: [
            {
              city: 'El Sauz',
              ub: 'Palizada, Campeche',
              capacity:  '252 MWh',
              start: 'Mayo, 2003',
              img: 'thumbnail-el-sauz.jpg',
              plantnumber: 'two',
              cardnumber: 'card-two',
              closenumber: 'close-two',
              id: 'ElSauz',
              defaultopen: '',
            },
            {
              city: 'Altamira',
              ub: 'Palizada, Campeche',
              capacity:  '252 MWh',
              start: 'Mayo, 2003',
              img: 'thumbnail-altamira.jpg',
              plantnumber: 'three',
              cardnumber: 'card-three',
              closenumber: 'close-three',
              id: 'Altamira',
              defaultopen: '',
            },
          ],
        },       
        {
          type: 'Parque eólico',
          content: [
            {
              thumbnail: 'thumbnail-sierra-juarez.jpg',
              city: 'Sierra Juárez',
              ub: 'Palizada, Campeche',
              capacity:  '252 MWh',
              start: 'Mayo, 2003',
              img: 'thumbnail-sierra-juarez.jpg',
              plantnumber: 'six',
              cardnumber: 'card-six',
              closenumber: 'close-six',
              id: 'SierraJuarez',
              defaultopen: '',
            },
          ],
        },
    ]
    
    const POWERPLANTS_EN = [
        {
          hero: 'thumbnail-campeche.jpg',
          thumbnail: 'thumbnail-campeche.jpg',
          city: 'Campeche',
          type: 'Combined Cycle Plant',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'one',
          cardnumber: 'card-one',
          closenumber: 'close-one',
          id: 'Campeche',
          defaultopen: 'defaultopen',
        },
        {
          hero: 'thumbnail-el-sauz.jpg',
          thumbnail: 'thumbnail-el-sauz.jpg',
          city: 'El Sauz',
          type: 'Gas compressor station',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'two',
          cardnumber: 'card-two',
          closenumber: 'close-two',
          id: 'ElSauz',
          defaultopen: '',
        },
        {
          hero: 'thumbnail-altamira.jpg',
          thumbnail: 'thumbnail-altamira.jpg',
          city: 'Altamira',
          type: 'Gas compressor station',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'three',
          cardnumber: 'card-three',
          closenumber: 'close-three',
          id: 'Altamira',
          defaultopen: '',
        },
        {
          hero: 'thumbnail-chihuahua.jpg',
          thumbnail: 'thumbnail-chihuahua.jpg',
          city: 'Chihuahua',
          type: 'Combined Cycle Plant',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
           plantnumber: 'four',
          cardnumber: 'card-four',
          closenumber: 'close-four',
          id: 'Chihuahua',
          defaultopen: '',
        },
        {
          hero: 'thumbnail-la-rosita.jpg',
          thumbnail: 'thumbnail-la-rosita.jpg',
          city: 'La Rosita I',
          type: 'Combined Cycle Plant',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
           plantnumber: 'five',
          cardnumber: 'card-five',
          closenumber: 'close-five',
          id: 'LaRosita',
          defaultopen: '',
        },
        {
          hero: 'thumbnail-la-rosita.jpg',
          thumbnail: 'thumbnail-la-rosita.jpg',
          city: 'La Rosita II',
          type: 'Combined Cycle Plant',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
           plantnumber: 'five',
          cardnumber: 'card-five',
          closenumber: 'close-five',
          id: 'LaRosita',
          defaultopen: '',
        },
        {
          hero: 'thumbnail-sierra-juarez.jpg',
          thumbnail: 'thumbnail-sierra-juarez.jpg',
          city: 'Energía Sierra Juárez',
          type: 'Parque eólico',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'six',
          cardnumber: 'card-six',
          closenumber: 'close-six',
          id: 'SierraJuarez',
          defaultopen: '',
        },
        {
          hero: 'thumbnail-san-luis-de-la-paz.jpg',
          thumbnail: 'thumbnail-san-luis-de-la-paz.jpg',
          city: 'San Luis de la Paz',
          type: 'Combined Cycle Plant',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'seven',
          cardnumber: 'card-seven',
          closenumber: 'close-seven',
          id: 'SanLuisDeLaPaz',
          defaultopen: '',
        },
    ]