-
    const MENU = [
        {
            href: '#quienes-somos',
            content: 'Acerca de Saavi',
        },
        {
            href: '#soluciones-energia',
            content: 'Soluciones de Energía',
        },
        {
            href: '#portafolio',
            content: 'Portafolio',
        },
        {
            href: '#contacto',
            content: 'Contacto',
        },
    ]
    
    const MENU_EN = [
        {
            href: '#quienes-somos',
            content: 'About us',
        },
        {
            href: '#soluciones-energia',
            content: 'Energy solutions',
        },
        {
            href: '#portafolio',
            content: 'Portfolio',
        },
        {
            href: '#contacto',
            content: 'Contact',
        },
    ]