-
    const POWERPLANTS = [
        {
          img: 'thumbnail-01.jpg',
          thumbnail: 'thumbnail-01.jpg',
          city: 'Campeche',
          type: 'Central Ciclo Combinado',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'one',
        },
        {
          hero: 'thumbnail-02.jpg',
          thumbnail: 'thumbnail-02.jpg',
          city: 'El Sauz',
          type: 'Estación de compresión de gas',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'two',
        },
        {
          hero: 'thumbnail-03.jpg',
          thumbnail: 'thumbnail-03.jpg',
          city: 'Altamira',
          type: 'Estación de compresión de gas',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'three',
        },
        {
          hero: 'thumbnail-04.jpg',
          thumbnail: 'thumbnail-04.jpg',
          city: 'Chihuahua',
          type: 'Central de ciclo combinado',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'four',
        },
        {
          hero: 'thumbnail-05.jpg',
          thumbnail: 'thumbnail-05.jpg',
          city: 'La Rosita I y II',
          type: 'Central de ciclo combinado',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'five',
        },
        {
          hero: 'thumbnail-06.jpg',
          thumbnail: 'thumbnail-06.jpg',
          city: 'Energía Sierra Juárez',
          type: 'Parque eólico exporación',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'six',
        },
        {
          hero: 'thumbnail-07.jpg',
          thumbnail: 'thumbnail-07.jpg',
          city: 'San Luis de la Paz',
          type: 'Central de ciclo combinado',
          ub: 'Palizada, Campeche',
          capacity:  '252 MWh',
          start: 'Mayo, 2003',
          plantnumber: 'seven',
        },
    ]