-
    const MANAGERS = {
        heading: [
            {
                titleSp: 'Directivos',
                titleEn: 'Managers',
            },
        ],
        desc: [
            {
                name: 'Jaime',
                lastname: 'Tupper',
                positionSp: 'Presidente y Director General',
                positionEn: 'CEO',
                contactTypeSp: '',
                contactTypeEn: '',
                email: '',
                href: 'https://www.linkedin.com/in/jaimetupper/',
            },
            {
                name: 'Marco',
                lastname: 'Fuentes',
                positionSp: 'Vicepresidente de Operaciones',
                positionEn: 'COO',
                contactTypeSp: '',
                contactTypeEn: '',
                email: '',
                href: 'https://mx.linkedin.com/in/marco-fuentes-a0a2652',
            },
            {
                name: 'Esmeralda',
                lastname: 'Viramontes',
                positionSp: 'Director Legal',
                positionEn: 'Legal Director',
                contactTypeSp: '',
                contactTypeEn: '',
                email: '',
                href: 'https://mx.linkedin.com/in/esmeralda-viramontes-b975a5170',
            },
            {
                name: 'Mauricio',
                lastname: 'del Valle',
                positionSp: 'Vicepresidente de Finanzas',
                positionEn: 'CFO',
                contactTypeSp: '',
                contactTypeEn: '',
                email: '',
                href: 'https://www.linkedin.com/in/mauricio-del-valle',
            },
            //- {
            //-     name: 'Carlos',
            //-     lastname: 'Zepeda',
            //-     positionSp: 'Director Recursos Humanos',
            //-     positionEn: 'HR Director',
            //-     contactTypeSp: '',
            //-     contactTypeEn: '',
            //-     email: '',
            //-     href: 'https://www.linkedin.com/in/cazepeda/',
            //- },
            {
                name: 'Héctor',
                lastname: 'Castro',
                positionSp: 'Vicepresidente de Asuntos Corporativos',
                positionEn: 'CCAO',
                contactTypeSp: 'Contacto para medios y gobierno',
                contactTypeEn: 'Media and government contact',
                email: 'hector.castro@saavienergia.com',
                href: 'https://www.linkedin.com/in/hectorcastrovizcarra',
            },
            {
                name: 'Gerardo',
                lastname: 'Cervantes',
                positionSp: 'Vicepresidente Comercial',
                positionEn: 'CCO',
                contactTypeSp: 'Contacto comercial',
                contactTypeEn: 'Commercial contact',
                email: 'gerardo.cervantes@saavienergia.com',
                href: 'https://mx.linkedin.com/in/gerardo-cervantes-3831b04',
            },
            {
                name: 'Rodrigo',
                lastname: 'Bernal',
                positionSp: 'Director de Originación',
                positionEn: 'Origination Director',
                contactTypeSp: 'Contacto comercial',
                contactTypeEn: 'Commercial contact',
                email: 'rodrigo.bernal@saavienergia.com',
                href: 'https://mx.linkedin.com/in/rodrigo-bernal-8531a94',
            },
            //- {
            //-     name: 'Julio',
            //-     lastname: 'Marañón',
            //-     positionSp: 'Director de Desarrollo de Negocios',
            //-     positionEn: 'New Business Director',
            //-     contactTypeSp: '',
            //-     contactTypeEn: '',
            //-     email: '',
            //-     href: 'https://mx.linkedin.com/in/juliomaranon',
            //- },
            {
                name: 'Arturo',
                lastname: 'Aguilar',
                positionSp: 'Gerente de Gestión de Activos',
                positionEn: 'Asset Management Manager',
                contactTypeSp: '',
                contactTypeEn: '',
                email: '',
                href: 'https://mx.linkedin.com/in/arturo-gabriel-aguilar-hern%C3%A1ndez-12410433',
            },
            {
                name: 'Pamela',
                lastname: 'Tadeo',
                positionSp: 'Originación',
                positionEn: 'Origination',
                contactTypeSp: 'Contacto comercial',
                contactTypeEn: 'Commercial contact',
                email: 'pamela.tadea@saavieergia.com',
                href: 'https://mx.linkedin.com/in/pamela-tadeo-783501b',
            },
            {
                name: 'Ángel',
                lastname: 'Castro',
                positionSp: 'Gerente de Estructuración',
                positionEn: 'Structuration Manager',
                contactTypeSp: 'Contacto comercial',
                contactTypeEn: 'Commercial contact',
                email: 'angel.castro@saavienergia.com',
                href: 'https://mx.linkedin.com/in/angel-castro-8bb339a3',
            },
        ],
    }