-
     const SOCIALS = [
            {
                href: '/',
                alt: 'saavi twitter',
                icon: 'icon-twitter.svg',
            },
            {
                href: '/',
                alt: 'saavi facebook',
                icon: 'icon-facebook.svg',
            },
            {
                href: '/',
                alt: 'saavi linkedin',
                icon: 'icon-linkedin.svg',
            },
            {
                href: '/',
                alt: 'saavi twitter',
                icon: 'icon-instagram.svg',
            },
        ]