-
	const POWERPLANTS = [
		{
			type: [
				{
					titleSp: 'Central Ciclo Combinado',
					titleEn: 'Combined Cycle Plant',
				},
			],
			desc: [
				{
					city: 'Campeche',
					ub: 'Palizada, Campeche',
					prov: '',
					capacity: '252 MWh',
					startSp: 'Mayo de 2003',
					startEn: 'May 2003',
					img: 'thumbnail-campeche.jpg',
					plantnumber: 'one',
					cardnumber: 'card-one',
					closenumber: 'close-one',
					id: 'Campeche',
				},
				{
					city: 'Chihuahua',
					ub: 'Samalayuca, Chihuahua',
					prov: 'CFE',
					capacity: '272 MWh',
					startSp: 'Septiembre de 2003',
					startEn: 'September 2003',
					img: 'thumbnail-chihuahua.jpg',
					plantnumber: 'four',
					cardnumber: 'card-four',
					closenumber: 'close-four',
					id: 'Chihuahua',
				},
				{
					city: 'La Rosita I',
					ub: 'Mexicali, Baja California',
					prov: 'CFE',
					capacity: '780 MWh',
					startSp: 'Julio de 2003',
					startEn: 'July 2003',
					img: 'thumbnail-la-rosita.jpg',
					plantnumber: 'five',
					cardnumber: 'card-five',
					closenumber: 'close-five',
					id: 'LaRosita',
				},
				{
					city: 'La Rosita II',
					ub: 'Mexicali, Baja California',
					prov: 'Industria / Exportación',
					capacity: '320 MWh',
					startSp: 'Julio de 2003',
					startEn: 'July 2003',
					img: 'thumbnail-la-rosita-ii.jpg',
					plantnumber: 'fiveDos',
					cardnumber: 'card-fiveDos',
					closenumber: 'close-fiveDos',
					id: 'LaRositaDos',
				},
				{
					city: 'Bajío',
					ub: 'San Luis de la Paz, Guanajuato',
					prov: 'Industria',
					capacity: '626 MWh',
					startSp: 'Mayo de 2002',
					startEn: 'May 2002',
					img: 'thumbnail-bajio.jpg',
					plantnumber: 'seven',
					cardnumber: 'card-seven',
					closenumber: 'close-seven',
					id: 'SanLuisDeLaPaz',
				},
				{
					city: 'San Luis de la Paz',
					ub: 'San Luis de la Paz, Guanajuato',
					prov: 'Industria',
					capacity: '216 MWh',
					startSp: 'Agosto de 2015',
					startEn: 'August 2015',
					img: 'thumbnail-san-luis-de-la-paz.jpg',
					plantnumber: 'sevenDos',
					cardnumber: 'card-sevenDos',
					closenumber: 'close-sevenDos',
					id: 'SanLuisDeLaPazDos',
				},
			],
		},
		{
			type: [
				{
					titleSp: 'Estación de compresión de gas',
					titleEn: 'Gas compressor station',
				},
			],
			desc: [
				{
					city: 'El Sauz',
					ub: 'El Sauz, Querétaro',
					prov: '',
					capacity: '200 MPCD + Un gasoducto de 65km',
					startSp: '2001',
					startEn: '2001',
					img: 'thumbnail-el-sauz.jpg',
					plantnumber: 'two',
					cardnumber: 'card-two',
					closenumber: 'close-two',
					id: 'ElSauz',
				},
				{
					city: 'Altamira',
					ub: 'Altamira, Tamaulipas',
					prov: 'CFE y SLP',
					capacity: '1300 MMPCD',
					startSp: 'Diciembre de 2014',
					startEn: 'December 2014',
					img: 'thumbnail-altamira.jpg',
					plantnumber: 'three',
					cardnumber: 'card-three',
					closenumber: 'close-three',
					id: 'Altamira',
				},
			],
		},
		//- {
		//- 	type: [
		//- 		{
		//- 			titleSp: 'Parque eólico',
		//- 			titleEn: 'Wind Farm',
		//- 		},
		//- 	],
		//- 	desc: [
		//- 		{
		//- 			thumbnail: 'thumbnail-sierra-juarez.jpg',
		//- 			city: 'Energía Sierra Juárez',
		//- 			ub: 'Tecate, Baja California ',
		//- 			prov: '',
		//- 			capacity: '155 MWh',
		//- 			startSp: 'Junio de 2015',
		//- 			startEn: 'June 2015',
		//- 			img: 'thumbnail-sierra-juarez.jpg',
		//- 			plantnumber: 'six',
		//- 			cardnumber: 'card-six',
		//- 			closenumber: 'close-six',
		//- 			id: 'SierraJuarez',
		//- 		},
		//- 	],
		//- },
	]