-
    const MENU = [
        {
            href: '#about-us',
            content: 'Acerca de Saavi',
        },
        {
            href: '#energy-solutions',
            content: 'Soluciones de Energía',
        },
        {
            href: '#portfolio',
            content: 'Portafolio',
        },
        {
            href: '#contact',
            content: 'Contacto',
        },
    ]
    
    const MENU_EN = [
        {
            href: '#about-us',
            content: 'About us',
        },
        {
            href: '#energy-solutions',
            content: 'Energy solutions',
        },
        {
            href: '#portfolio',
            content: 'Portfolio',
        },
        {
            href: '#contact',
            content: 'Contact',
        },
    ]