.gallery {
    
    &__images {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(9, 1fr);
        position: relative;
        
        &::before {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }

    &__image {
        
        img,
        .gallery__description {
            position: absolute;
        }

        img {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .gallery__description {
            top: 50%;
            transform: translateY(-50%);

            @media only screen and (min-width: 667px) {
                top: var(--lg);
                transform: initial;
            }
        }
    }
    
    &__thumbnails {
        display: flex;
    }
    
    &__thumbnail {
        cursor: pointer;
        flex: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        position: relative;
    
        &::before {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        
        &:nth-child(odd) {
            background-color: var(--first);
        }
        
        &:nth-child(even) {
            background-color: var(--frist--alt);
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }
    }
}

.tabcontent {
    display: none;
}