.hamburguer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0.3rem solid var(--text--alt);
    padding: var(--ss) 0.6rem;
    width: var(--lg);
    height: var(--lg);

    @media only screen and (min-width: 1024px) {
        display: none;
    }

    &__line {
        background-color: var(--text--alt);
        width: 100%;
        height: 0.3rem;
    }
}