.hamburguer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.2rem;
    width: var(--lg);
    height: var(--lg);

    &__line {
        background-color: var(--text--alt);
        width: 100%;
        height: 0.2rem;
        transition: transform 0.1s ease-in-out;
    }

    &:hover .hamburguer__line {
        transition: transform 0.1s ease-in-out;
    }

    &:hover .hamburguer__line:nth-child(1) {
        transform-origin: left;
        transform: rotate(45deg);
    }
    
    &:hover .hamburguer__line:nth-child(2) {
        transform: scale(0, 1);
    }
    
    &:hover .hamburguer__line:nth-child(3) {
        transform-origin: left;
        transform: rotate(-45deg);
    }
}