.header {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    background-color: var(--text-alt);
    box-shadow: 0 0 toRem(4) rgba(0, 0, 0, .4);
    padding-top: var(--ss);
    padding-bottom: var(--ss);
    position: fixed;
    top: 0;
    z-index: 1000;
    min-width: 100vw;
    
    @media only screen and (min-width: 1280px) {
        grid-template-columns: minmax(toRem(64), toRem(275)) minmax(toRem(192), 1fr) minmax(toRem(64), toRem(275));
    }

    &__content {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__left {
        padding-left: var(--xs);
    }
    
    &__right {
        align-items: center;
        padding-right: var(--xs);
    }

    &__logo {
        height: toRem(38);
    }
}

.nav {
    background-color: var(--text-alt);
    border-radius: toRem(6);
    box-shadow: 0 0 toRem(4) rgba(0, 0, 0, .4);
    position: fixed;
    top: toRem(50);
    right: var(--ss);
    z-index: -1;
    padding: var(--sm);
    transform-origin: top;
    transform: scale(1, 0);
    transition: transform .1s ease;
}

.show {
    transform: scale(1, 1);
}

.menu {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: var(--sm);
    list-style: none;

    &__link {
        color: var(--first-alt);
        font-size: var(--small);
        text-decoration: none;
    }

    &__socials {

        @media only screen and (min-width: 1024px) {
            display: none;
        }
    }

    &__icon {
        display: inline-block;

        &:nth-child(2) {
            padding-right: var(--ss);
            padding-left: var(--ss);
        }
    }
}

%icon {
    --border-width: #{toRem(3)};
    --square: calc(var(--md) + #{toRem(2)});
    --color: var(--first-alt);
    --bg-color: var(--text-alt);
    cursor: pointer;
    background-color: var(--bg-color);
    border: var(--border-width) solid var(--bg-color);
    width: var(--square);
    height: var(--square);
}

.icon-hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @extend %icon;
    position: relative;

    &::before,
    &::after {
        content: '';
        display: block;
        background-color: var(--color);
        width: 78%;
        height: var(--border-width);
        transition: transform .1s ease;
    }

    &__line {
        background-color: var(--color);
        width: 78%;
        height: var(--border-width);
        transition: transform .1 ease;
    }
}

.icon-lang {
    @extend %icon;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    font-size: var(--small);
    text-decoration: none;
}

.close {
    justify-content: center;

    &::before,
    &::after {
        position: absolute;
        transition: transform .1s ease;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    .icon-hamburguer__line {
        width: 0;
        transition: transform .1s ease;
    }
}