.menu {
    list-style: none;
    background-color: #383838;
    padding: var(--lg) var(--sm) var(--xx);
    position: fixed;
    top: 0;
    right: -60rem;
    width: 60vw;
    height: 100vh;
    transition: right 0.3s ease-in-out;

    @media only screen and (min-width: 736px) {
        background-color: initial;
        padding-top: calc(var(--md) + 0.3rem);
        width: initial;
        height: initial;
        display: flex;
    }

    &__item {
        cursor: pointer;
        margin-bottom: var(--sm);

        @media only screen and (min-width: 736px) {
            margin-right: var(--md);

            &:nth-child(4) {
                margin-right: calc(var(--md) * 2);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item.menu__item-socials {
        
        a:nth-child(2) img {
            margin-right: var(--sm);
            margin-left: var(--sm);
        }

        img {
            display: inline-block;
            width: var(--md);
        } 
    }

    &.show {
        right: 0;
    }

    .xsmall {
        text-decoration: none;
    }

    &__movil {

        @media only screen and (min-width: 736px) {
            display: none;
        }
    }
}