.socials {
    list-style: none;

    &__item {
        margin-bottom: var(--sm);
    }
}

.fixed {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.absolute {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}