.socials {
    display: none;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: var(--sm);
    list-style: none;
    position: absolute;
    top: 700%;
    left: 50%;
    transform: translateY(-50%, -50%);
    z-index: 10;
    
    @media only screen and (min-width: 1024px) {
        display: grid;
    }

    &__item {
        margin: auto;
    }
}