.soluciones {
    
    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: var(--sm);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        flex: none;
        margin-right: var(--sm);
    }
}