.tooltip {
    background-color: var(--text-alt);
    filter: drop-shadow(0 0 toRem(4) rgba(0, 0, 0, 0.6));
    padding: var(--sm);
    position: absolute;
    top: 100%;
    left: var(--xl);
    z-index: 1;
    width: calc(100% - #{toRem(64)});
    transform-origin: top;
    transform: scale(1, 0);
    transition: transform .1s ease;
}

.toggle-tooltip {
    transform: scale(1, 1);
    transition: transform .1s ease;
}