.about-us {
    margin-top: calc(var(--xx) * 1.5);
    margin-bottom: calc(var(--xx) * 1.5);

    &__content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr) auto;
        gap: var(--sm);
        
        @media only screen and (min-width: 667px) {
            grid-template-rows: 1fr auto;
        }
    }

    &__child:nth-child(1) {
        padding-right: var(--sm);
        padding-left: var(--sm);
        
        @media only screen and (min-width: 667px) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            padding-right: 0;

            .body {
                padding-left: var(--lg);
            }
        }
    }
    
    &__child:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        @media only screen and (min-width: 667px) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    }
    
    &__child:nth-child(3) {
        
        @media only screen and (min-width: 667px) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }

    &__history {
        background-color: var(--first);
        background-image: url('#{$pathImg}historia.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;

        .title {
            line-height: 1;
            margin-bottom: 0;
            padding-left: var(--sm);
            padding-bottom: var(--sm);
        }
    }

    &__time-line {
        padding-right: var(--sm);
        padding-left: var(--sm);

        .bullet {
            display: flex;
        }

        .subtitle {
            padding-right: var(--sm);
            margin-bottom: 0;
        }

        img {
            max-width: 100%;
        }
    }
}