.energy-solutions {
    --child-padding: calc(var(--xx) * 1.5) var(--sm);

    @media only screen and (min-width: 1024px) {
        background-image: url('#{$pathImg}soluciones.png');
        background-size: calc(50% - var(--sm));
        background-position: right top;
        background-repeat: no-repeat;
    }

    &.container {
        padding-right: 0;
        padding-left: 0;
    }

    &__content {
       @extend %content;
        
        @media only screen and (min-width: 736px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__child {
        padding: var(--child-padding);
    }
    
    &__child:nth-child(2) {
        background-color: var(--first);
    }

    .body {
        margin-top: var(--sm);
    }

    .title {
        overflow-wrap: anywhere;
    }
}

// solution list items

.solutions {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: var(--sm);
    list-style: none;

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;

        &:hover > span.small {
            text-decoration: underline;
        }
    }

    &__icon {
        flex: none;
        margin-right: var(--ss);
        width: toRem(38);
    }
}