.main {
    background-color: var(--first);
    background-image: url('../img/main.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-right: var(--sm);
        padding-left: var(--sm);
    }
}