.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--first);
    background-image: url('../img/main.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 100vh;

    .display,
    .body {
        margin: auto;
    }

    .display {
        max-width: calc(var(--xx) * 5);
    }

    .body {
        max-width: calc(var(--xx) * 4);
    }
}