.portafolio {
    max-width: 96rem;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (min-width: 736px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: var(--md);
    }

    &__title {
        @extend .subtitle;
        @extend .sbold;
        @extend .text--alt;
        background-color: var(--first);
        padding: 12rem var(--sm) var(--sm) var(--sm);
    }

    &__mapa {
        padding: var(--sm);
    }

    &__child {

        @media only screen and (min-width: 736px) {
            position: relative;
            // height: 56rem;

            &:first-child {
                grid-column-start: 2;
                grid-row-start: 1;
            }
            
            &:last-child {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }
    }

    &-movil {

        .hero {
            flex-direction: column;
            height: 24rem;
    
            &__caption {
                margin-top: auto;
                padding: var(--sm);
            }
        }
    }

    &-movil-sublist {
        background-color: var(--first);
        padding: var(--sm);
    }

    &__thumbnail {
        display: grid;
        grid-template-columns: repeat(7, auto);

        .hero {
            // margin-top: auto;
            height: 9.6rem;

            p {
                margin: auto;
            }
        }

        @media only screen and (min-width: 736px) {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        @media only screen and (min-width: 736px) {
                
            .hero:hover {
                flex-grow: 2rem;
            }
        }
    }

    &__description {
        position: relative;

        @media only screen and (min-width: 736px) {
            
            .hero {
                height: 56rem;
                flex-direction: column;

                &__caption {
                    padding: var(--xx) var(--sm) 0;
                }
            }
        }
    }
    
    &__list {

        @media only screen and (min-width: 736px) {
            position: absolute;
            width: 100%;
        }
    }
}