.card-power-plants {
    display: grid;
    gap: var(--xs);

    @media only screen and (min-width: 568px) {
        grid-template-columns: repeat(2, 1fr);       
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(16, 1fr);
        list-style: none;
        position: relative;

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }

    &__position {
        position: absolute;
        transition: transform .1s .2s ease;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__caption {
        background-color: var(--first-alt);
        padding: var(--xs);
        left: var(--xs);
        bottom: var(--xs);
        transform-origin: left bottom;
        transform: scale(1, 1);
        transition: transform .1s ease;
    }
    
    &__content {
        background-color: var(--first-alt);
        padding: var(--xs);
        height: 100%;
        transform-origin: left bottom;
        transform: scale(0, 0);
        transition: transform .1s .2s ease;
    }

    .icon-close {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #111;
        position: absolute;
        right: var(--xs);
        bottom: var(--xs);
        width: var(--lg);
        height: var(--lg);

        &::before,
        &::after {
            content: '';
            background-color: #fff;
            display: block;
            position: absolute;
            width: 60%;
            height: toRem(2);
        }

        &::before {
            transform: rotate(45deg);
        }
        
        &::after {
            transform: rotate(-45deg);
        }
    }
}