.power-plants {
    --child-padding: calc(var(--xx) * 1.5);
    margin-bottom: var(--child-padding);
}

.description {
    list-style: none;

    &__item {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(9, 1fr);
        position: relative;

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }

    &__img,
    &__content {
        position: absolute;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__content {
        padding-top: var(--xl);
        padding-left: var(--md);
    }
}

.thumbnails {
    display: flex;
    list-style: none;

    &__item {
        flex: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        position: relative;

        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }

    &__img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.tabcontent {
    display: none;
}

#Campeche,
#ElSauz,
#Altamira,
#Chihuahua,
#LaRosita,
#SierraJuarez,
#SanLuisDeLaPaz {
    background-color: transparent;
}