.quienes-somos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: var(--md);
    
    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);

        &__child:last-child {
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }

    .hero {
        height: 32rem;
        display: flex;

        h1 {
            margin-top: auto;

            @media only screen and (min-width: 667px) {
                padding-left: var(--md);
                padding-bottom: var(--md);
            }
        }
    }

    .historia {

        @media only screen and (min-width: 667px) {
            padding-left: var(--md);
        }
    }
}