.servicios {
    max-width: 96rem;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (min-width: 736px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--md);
    }

    &__child {
        padding: var(--xx) var(--sm);

        &:nth-child(2) {
            background-color: var(--first);
        }
    }
}