.services {

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        gap: var(--md);
        
        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }
    }

    &__child {
        padding: var(--xx) var(--sm);
        
        &:last-child {
            background-color: var(--first);
        }
    }

    &__bg {
        background-image: url('../img/servicios.png');
        background-position: center top;
        background-repeat: no-repeat;
    }
}