.container {
    padding-right: var(--xs);
    padding-left: var(--xs);
}

.wrap {
    --max-width: #{toRem(816)};
    margin-right: auto;
    margin-left: auto;
    max-width: var(--max-width);
}


%content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: var(--sm);
}