.layout-main {
    max-width: 85.375rem;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-areas: 'left' 'center' 'right';
    overflow: hidden;
    
    @media only screen and (min-width: 736px) {
        grid-template-areas: 'left center right'; 
        grid-template-columns: 1fr minmax(20rem, 48rem) 1fr;
    }
    
    &__left {
        grid-area: left;
        // background-color: hsl(90, 100%, 50%);
    }
    
    &__center {
        grid-area: center;
        // background-color: hsl(180, 100%, 50%);
    }
    
    &__right {
        grid-area: right;
        // background-color: hsl(270, 100%, 50%);
    }
}

.layout-investors {
    display: grid;
    grid-template-areas: 'area';
    grid-template-rows: auto;
  
    @media only screen and (min-width: 736px) {
        grid-template-areas: 'area area area area'; 
        grid-template-columns: 1fr minmax(10rem, 24rem) minmax(10rem, 24rem) 1fr;
    }

    &__left {
        grid-area: area;
        background-image: url('../img/inversionistas.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        
        @media only screen and (min-width: 736px) { 
            grid-column: 1 / 3;
        }
    }
    
    &__center-left {
        grid-area: area;
        padding-top: var(--xx);
        padding-bottom: var(--xx);

        @media only screen and (min-width: 736px) { 
            grid-column: 2 / 3;
        }
    }
    
    &__center-right {
        grid-area: area;
        background-color: var(--first);
        padding: var(--xx) var(--sm);

        @media only screen and (min-width: 736px) { 
            grid-column: 3 / 4;
        }
    }
    
    &__right {
        grid-area: area;

        @media only screen and (min-width: 736px) { 
            grid-column: 4 / 5;
        }
    }
}