$gutters: (
    xx: rem(80px),
    xl: rem(48px),
    lg: rem(40px),
    md: rem(32px),
    sm: rem(24px),
    xs: rem(16px),
    ss: rem(8px),
);

:root {
    @each $key, $val in $gutters {
        --#{$key}: #{$val};
    }
}

@each $key, $val in $gutters {
    .mbottom--#{$key} {
        margin-bottom: #{$val};
    }
}