$gutters: (
    xx: toRem(80),
    xl: toRem(48),
    lg: toRem(40),
    md: toRem(32),
    sm: toRem(24),
    xs: toRem(16),
    ss: toRem(8),
);

:root {
    @each $key, $val in $gutters {
        --#{$key}: #{$val};
    }
}

@each $key, $val in $gutters {
    .mbottom--#{$key} {
        margin-bottom: #{$val};
    }
}