$gutters: (
    xx: 8rem,
    xl: 4.8rem,
    lg: 4rem,
    md: 3.2rem,
    sm: 2.4rem,
    xs: 1.6rem,
    ss: 0.8rem,
);

:root {
    @each $key, $val in $gutters {
        --#{$key}: #{$val};
    }
}

@each $key, $val in $gutters {
    .mbottom--#{$key} {
        margin-bottom: #{$val};
    }
}