.bg {
    background-size: cover;
    background-repeat: no-repeat;

    &--home {
        background-image: url('../img/home.png');
    }
    
    &--inversionistas {
        background-image: url('../img/inversionistas.png');
    }
}

@media only screen and (min-width: 1280px) {
    .bg.bg--servicios {
        background-image: url('../img/servicios.png');
        background-position-x: right;
        background-size: initial;
    }
}

@media only screen and (min-width: 1024px) {
    .bg.bg--contacto {
        background: linear-gradient(to left, var(--first) 50%, white 50%);
        background-position-x: right;
    }
}