$colors: (
    first: #29aaff,
    first-alt: #0071bb,
    text: #333333,
    text-alt: #ffffff,
    transparente: transparent,
    negro: #000000,
    blanco: #ffffff
);

:root {
    
    @each $key, $val in $colors {
        --#{$key}: #{$val};
    }
}

@each $key, $val in $colors {
    
    .#{$key} {
        color: #{$val};
    }
    
    .bg--#{$key} {
        background-color: #{$val};
    }
}
