$font-size: (
    display: rem(54px),
    title: rem(46px),
    subtitle: rem(34px),
    body: rem(20px),
    small: rem(16px),
    xsmall: rem(12px)
);

$font-weight: (
    black: 900,
    ebold: 800,
    bold: 700,
    sbold: 600,
    medium: 500,
    regular: 400,
    light: 300,
    elight: 200,
    thin: 100,
);

:root {
    
    @each $key, $val in $font-size {
        --#{$key}: #{$val};
    }
                 
    @each $key, $val in $font-weight {
        --#{$key}: #{$val};
    }
}

.display,
.title,
.subtitle,
.bold {
    font-weight: var(--sbold);
}

.display,
.title {
    line-height: 1.2;
}

.display {
    font-size: var(--display);
    margin-bottom: var(--sm);
    overflow-wrap: anywhere;
}

.title {
    font-size: var(--title);
    margin-bottom: var(--xs);
}

.subtitle {
    font-size: var(--subtitle);
    margin-bottom: var(--sm);
}

.body,
.small {
    font-weight: var(--light);
    line-height: 1.6;
}

.body {
    font-size: var(--body);
}

.small {
    font-size: var(--small);
}