$font-size: (
    display: toRem(64),
    title: toRem(43),
    subtitle: toRem(34),
    body: toRem(20),
    small: toRem(16),
    xsmall: toRem(12),
);

$font-weight: (
    black: 900,
    ebold: 800,
    bold: 700,
    sbold: 600,
    medium: 500,
    regular: 400,
    light: 300,
    elight: 200,
    thin: 100,
);

:root {
    
    @each $key, $val in $font-size {
        --#{$key}: #{$val};
    }
                 
    @each $key, $val in $font-weight {
        --#{$key}: #{$val};
    }
}

.display,
.title,
.subtitle,
.bold {
    font-weight: var(--sbold);
}

.display,
.title {
    line-height: 1.2;
}

.display {
    font-size: var(--display);
    margin-bottom: var(--sm);
    text-align: center;
}

.title {
    font-size: var(--title);
    margin-bottom: var(--xs);
}

.subtitle {
    font-size: var(--subtitle);
    margin-bottom: var(--sm);
}

.body,
.small {
    font-weight: var(--light);
    line-height: 1.6;
}

.body {
    font-size: var(--body);
}

.small {
    font-size: var(--small);
}