extends ../templates/main
block content
    +header(MENU_SP, 'sp')
    section.codigo-conducta
        h2.title.first Código de Conducta
        img(src=`${pathImg}codigo-de-conducta.png`, alt="Nuestro código de conducta es nuestra guía para tomar la decisión correcta")
        h3.subtitle.first ¿Cómo contactar a la Línea Ética?
        ul
            li 
                strong Página web
                span Entra a <a href="https://www.tipsanonimos.com/eticasaavi" rel="noopener" target="_blank">https://www.tipsanonimos.com/eticasaavi</a>
            li
                strong Línea telefónica
                span Llama sin costo al <a href="tel:8009990784" rel="noopener" target="_blank">800 999 0784</a>
            li 
                strong Envía tu reporte a
                span <a href="mailto:eticasaavi@tipsanonimos.com" rel="noopener" target="_blank">eticasaavi@tipsanonimos.com</a>
        h3.title.first Conoce nuestro Código de Conducta
        iframe(src="https://www.saavienergia.com/assets/saavi-codigo-de-conducta-2022.pdf", frameborder="0" height="768")
    +contact(CONTACT, 'sp')