extends ../templates/main
block content

    +header(MENU_SP, 'sp')
    +main(MAIN, 'sp')
    +aboutUs(ABOUTUS, HISTORY, 'sp')
    +write_us_now(
        'Conoce más y contacta a un representante comercial',
        'Crearemos la solución de energía a tu medida, aportando la experiencia de nuestro equipo en el sector energético y el conocimiento de tu industria.',
        'Escríbenos ahora',
        'pamela.tadeo@saavieergia.com'
    )
    +energySolutions(SUPPLIER, GENERATOR, 'sp')
    +portfolio(PORTFOLIO, 'sp')
    +powerPlants(POWERPLANTS, 'sp')

    //- ok
    section.container.investors#investros
        article.wrap.investors__content
            .investors__child
            //-     h1.title.first Inversionistas
            .investors__child
                .access
                    p.small.bold.text-alt Ingreso
                    a(href="https://www.saavienergia.com/web/inversionistas-acceso", class="title text-alt") Inversionistas
                //- form(action="#", class="form-investors")
                //-     .form-investors__field
                //-         label(for="", class="form-investors__label body text-alt") Usuario
                //-         input(type="text", placeholder="Ej. inversionista@saavienergia.com", required, name="user", id="user", class="form-investors__input")
                //-     .form-investors__field
                //-         label(for="", class="form-investors__label body text-alt") Contraseña
                //-         input(type="password", placeholder="Ingresa tu contraseña", required, name="pass", id="pass", class="form-investors__input")
                //-     .form-investors__field
                //-         input(type="submit", value="Iniciar sesión", class="form-investors__input ghost")
                //-     .form-investors__field
                //-         p.small.text-alt ¿Olvidaste tu contraseña?

    //- ok
    section.container.clients#clients
        article.wrap.clients__content
            .clients__child
                //- h1.title.first Clientes
            .clients__child
                .access
                    p.small.bold.text-alt Ingreso
                    a(href="#", class="title text-alt") Clientes
                //- form(action="#", class="form-investors")
                //-     .form-investors__field
                //-         label(for="", class="form-investors__label body text-alt") Usuario
                //-         input(type="text", placeholder="Ej. inversionista@saavienergia.com", required, name="user", id="user", class="form-investors__input")
                //-     .form-investors__field
                //-         label(for="", class="form-investors__label body text-alt") Contraseña
                //-         input(type="password", placeholder="Ingresa tu contraseña", required, name="pass", id="pass", class="form-investors__input")
                //-     .form-investors__field
                //-         input(type="submit", value="Iniciar sesión", class="form-investors__input ghost")
                //-     .form-investors__field
                //-         p.small.text-alt ¿Olvidaste tu contraseña?

    +contact(CONTACT, 'sp')