extends ../templates/main
block content
    +header(MENU_SP, 'sp')
    section.codigo-conducta
        h2.title.first Reporte de Sustentabilidad 2020
        iframe(src="https://www.saavienergia.com/assets/2020-sustainability-report.pdf", frameborder="0" height="768")
    +contact(CONTACT, 'sp')