section.__wrap.bg.bg--home
    article.home.vh
        .home__child
            h1.home__display Generamos el futuro
            p.home__caption Nuestra electricidad impulsa la competitividad de las empresas <strong class="sbold">en México</strong>