section.__wrap.bg.bg--inversionistas
    article.inversionistas.vh
        .inversionistas__child
            h1.subtitle.sbold.first.mbottom--sm Inversionistas
        .inversionistas__child
            img(src=`${pathImg}icon-user.svg`, alt="icon user", class="inversionistas__icon mbottom--md")
            form.form
                .form__data
                    label(for="usuario", class="body text--alt form__label") Usuario
                    input(type="text", placeholder="inversionista@saavienergia.com", class="small form__input")
                .form__data
                    label(for="usuario" class="body text--alt form__label") Contraseña
                    input(type="password", placeholder="Ingresa tu contraseña", class="small form__input")
                .form__data
                    input(type="submit", value="Iniciar sesión", class="small text--alt form__input form__submit")
                .form__data
                    p.small.text--alt.center--content ¿Olvidaste tu contraseña?