section.__wrap
    article.quienes-somos.__wrap--normal
        .quienes-somos__child
            h1.title.sbold.first--alt.mbottom--sm ¿Quiénes somos?
            p.body.regular.first--alt Somos expertos en energía con más de 20 años en el mercado. Generamos y comercializamos electricidad para contribuir a satisfacer la demanda del país. 
        .quienes-somos__child
            .hero
                h1.title.sbold.text--alt Historia
                img(src=`${pathImg}quienes-somos.png`, alt="quienes somos")
        .quienes-somos__child
            .historia
                h2.subtitle.regular.first--alt.mbottom--ss 1995
                p.small.first Se constituye International Generating Company "InterGen"